<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <meta charset="UTF-8">
    <title>Zach Seaborn's Portfolio</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#">Sass</a></li>
        <li><a href="#">Components</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </div>
  </nav>
  <p>
    Hello World
  </p>
  <footer class="page-footer red darken-4">
    <div class="container">
      <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Thanks For Visiting!</h5>
        <p class="white-text thin">This app is brought to you by the team of Andy Barringer and Zach Seaborn.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-darken-3" href="{% url 'contact_us' %}">Contact Us</a></li>
          <li><a class="grey-text text-darken-3" href="{% url 'about_app' %}">About This App</a></li>
          <li><a href="https://twitter.com/Seaborn63">Twitter</a></li>
        </ul>
      </div>
    </div>
    </div>
  </footer>
</body>
</html>
